<header class="navbar navbar-fixed-top">
   <div class="navbar-inner">
      <div class="container">
         <%= link_to "sample app", root_path, id: "logo" %>
         <nav>
            <u1 class="nav pull-right">
               <li><%= link_to "Home",    root_path %>
                  <li><%= link_to "Help",    help_path %>
                     <li><%= link_to "Sign in", '#' %>
                        </u1>
         </nav>
      </div>
   </div>
</header>